In [1]:
#Import Libraries
import pandas as pd
import numpy as np
import os

In [2]:
#create df pathway
path= (r'C:\Users\colmu\Desktop\Career Foundry\Achievement 4\Instacart Basket Analysis\Data')

In [3]:
#Importing orders_prior DF
df_ords=pd.read_csv(os.path.join(path,'prepared data', 'orders_checked.csv'), index_col= False)

In [4]:
#Importing products_prior DF
df_prods=pd.read_csv(os.path.join(path,'prepared data', 'products_checked.csv'), index_col= False)

In [5]:
#Importing products_prior DF
df_ords_prior=pd.read_csv(os.path.join(path,'original data', 'orders_products_prior.csv'), index_col= False)

In [6]:
#Importing products_prior DF
df_org_prods=pd.read_csv(os.path.join(path,'original data', 'product.csv'), index_col= False)

In [14]:
#reset all PD options
pd.reset_option('all', silent=True)

In [10]:
#reseting exponent float format from 4.5
pd.options.display.float_format = None

In [8]:
df_org_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [7]:
df_org_prods['prices'].value_counts(dropna=False)

prices
2.5        470
5.3        458
6.2        451
2.6        447
5.4        444
          ...
21.0         1
99999.0      1
21.4         1
15.6         1
18.3         1
Name: count, Length: 242, dtype: int64

In [10]:
df_org_prods = df_org_prods.reindex(columns=['order_id', 'user_id', 'order_number', 'orders_days_of_the_week', 'order_hour_of_day', 'days_since_prior_order', 'product_id', 'add_to_cart_order', 'reordered','product_name', 'aisle_id', 'department_id', 'prices'])

In [11]:
df_org_prods.head()

,order_id,user_id,order_number,orders_days_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices
0,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,Chocolate Sandwich Cookies,61,19,5.8
1,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,All-Seasons Salt,104,13,9.3
2,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN,Green Chile Anytime Sauce,5,13,4.3